2022.ronnyforberger.de._domainkey.ronnyforberger.de ronnyforberger.de:2022.ronnyforberger.de:/etc/dkimkeys/2022.ronnyforberger.de.private
2023.forberger-online.de._domainkey.forberger-online.de forberger-online.de:2023.forberger-online.de:/etc/dkimkeys/2023.forberger-online.de.private
2023.ronnyforberger.business._domainkey.ronnyforberger.business ronnyforberger.business:2023.ronnyforberger.business:/etc/dkimkeys/2023.ronnyforberger.business.private